#nuestrosObjetivos {
    h5 {
        color: steelblue;
    }
}

#nuestroEquipo {
    margin-bottom: 60px;
}

#nuestrosObjetivos {
    margin-bottom: 60px;
}

.objetives-wrapper {
    width: 60%;
}

.sec3imgWrap1,
.sec3imgWrap6 {
    align-items: flex-end!important;
}

.sec3imgWrap2,
.sec3imgWrap7 {
    align-items: flex-start!important;
}