        nav {
            padding: .5!important;
            background-color: #fff;
            box-shadow: 2px 2px 1px #dedede;
        }
        
        .nav-link {
            a {
                border-bottom: 1px solid #fff;
            }
        }
        
        .navbar-nav {}
        
        .dropdown-item {
            background-color: $titlecolor;
            color: #fff;
        }
        
        .dropdown-menu {
            background-color: $titlecolor;
            a {
                border-bottom: 1px solid #fff;
                font-size: 13px;
                padding: 10px 10px;
            }
        }
        
        .navbar-nav {
            .nav-item {
                a {
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .nav-item.dropdown {
                .dropdown-menu {
                    a.dropdown-item {
                        color: #fff;
                    }
                }
            }
        }
        
        a.firstRreadMore {
            background-color: indigo;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px
        }