.mainImgDiv {
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
    img {
        width: -webkit-fill-available;
        margin-left: -46px;
    }
}

.npTitle {
    padding: 85px 0px 10px 0px;
    margin: auto;
    text-align: center;
}

.npTitle0 {
    padding: 20px 0px 10px 0px;
    margin: auto;
    text-align: center;
}

.np1 {
    flex-direction: column;
    font-size: 15px;
    .mainTextnp {
        text-align: justify;
    }
}

.np2 {
    margin-top: -4.5rem!important;
    .titleInmigracionYdelincuencia {
        margin-bottom: 2rem!important;
    }
    .card {
        border: none;
        width: 78%;
        bottom: 0px;
        position: absolute;
        left: 0px;
        .card-body {
            padding-top: 0px;
        }
    }
    ul li {
        list-style-type: none;
        &::before {
            content: url("../img/checkmark.png");
            transform: scale(.2)
        }
    }
}

.npContainerFluid {
    width: 95%!important;
}

.inmigracionYdelincuenciaSection {
    margin-bottom: 60px;
    h1,
    h2,
    h3,
    h4 {
        text-align: center;
        margin: 2rem 0;
    }
}

//MODELO DE INTERVENCION
.modelodeintervencion {
    // background: #dedede;
    font-size: 15px;
    .modeloInterTitle {
        margin: 50px 0;
        width: 100%
    }
    #imgNuestraPropuesta {
        position: relative;
        left: -16px;
        width: 118%;
    }
    .modIntervencionRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.npSubTitle {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

section.politicas-publicas {
    h4 {
        margin-bottom: 2.5rem;
    }
    .col-12 {
        margin-bottom: 20px;
        border-bottom: 1px ridge;
    }
    padding: 50px 50px;
    h2 {
        margin-bottom: 40px;
    }
    .firstDiv {
        p {
            margin: 0!important;
            padding-bottom: 5px;
        }
    }
    .facilitamos {
        justify-content: space-evenly;
    }
}