.section3 {
    background: #F8F9F9;
    margin: 50px auto;
}

.section3Conocenos {
    background: #ccc;
    padding-bottom: 3rem;
    p {
        margin-bottom: 5px;
        padding-top: 0;
    }
    .sec3imgCaption {
        p:first-of-type {
            font-size: 18px;
            color: #000;
        }
        p {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .sponsorsDiv {
        font-size: 14px;
    }
}

.section3Conocenos .row .sec3imgWrap {
    display: flex;
    flex-direction: column;
    img {
        object-fit: contain;
        transform: scale(.9);
    }
    p {
        font-size: 14px;
    }
}

.section3Conocenos .titleWrap {
    justify-content: center;
    h1 {
        color: #333;
        padding: 2.7rem 0 2.7rem 0;
    }
}

.teamWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .card-text {
        font-size: 12px;
    }
}